*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
pmongodb/.idea/
pquartz/.idea/
**/node_modules
**/.idea
**/.project
**/.classpath
**/.settings/*
/pquartz/.idea
pjunit5/.gradle/
pjunit5/build/test-results/junit-platform/TEST-junit-jupiter.xml
pjunit5/pjunit5.iml
pstream-json-js/test/temp.json
spam-finder/temp.txt
akka/data-watcher1/source1/
akka/data-watcher1/source2/
test*.dat
akka/stream/*result.txt
pjunit5/build/
spring-mockito/build/
*.iml
*/.gradle
pspring/out/
pspark/inputStream.txt
pspark/tmpTest/
pspark/out/
avro/users.avro
kafkaj/out/
kafkaj/build/
gradle-multi-module/build/
gradle-multi-module/module1/build/
gradle-multi-module/module2/build/
kafka-mock/out/
kafka-mock/build/
kafka/CSharp/SimpleProducer/.vs/
kafka/CSharp/SimpleProducer/packages/
kafka/CSharp/SimpleProducer/SimpleProducer/bin/
kafka/CSharp/SimpleProducer/SimpleProducer/obj/
*.sln
kafka/CSharp/SimpleProducer/SimpleProducer/.vs/
kafka/CSharp/SimpleProducer/SimpleProducer/packages/
kafka/CSharp/SimpleProducer/bin/
kafka/CSharp/SimpleProducer/obj/
kafka/CSharp/ConsumerFromFirst/obj/
Qvx/QvxConnector1/.vs/
Qvx/QvxConnector1/bin/
Qvx/QvxConnector1/obj/
Qvx/.vs/
Qvx/EventLogSimple/bin/
Qvx/EventLogSimple/obj/
*.user
.gradle/
build/
/kafkaj-7/out
