<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2019. Yuriy Stul
  -->

<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </Console>
        <File name="File" fileName="log/zeebe-msg1.log" append="true">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </File>
    </Appenders>
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="Console" />
            <AppenderRef ref="File" />
        </Root>

        <Logger name="io.grpc" level="error"/>
        <Logger name="io.netty" level="error"/>
        <Logger name="io.zeebe" level="error"/>
        <!--<AppenderRef ref="Console"/>-->
        <!--</Logger>-->
    </Loggers>
</Configuration>
