<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2019. Yuriy Stul
  -->

<Configuration status="WARN">
    <Appenders>
        <Console name="CONSOLE" target="SYSTEM_OUT">
            <JsonLayout complete="false" compact="false"/>
<!--            <JsonLayout complete="false" compact="false">-->
<!--                <KeyValuePair key="myCustomField" value="myCustomValue" />-->
<!--            </JsonLayout>-->
        </Console>
        <File name="FILE" fileName="logs/structured1.log">
            <JSONLayout compact="true" eventEol="true"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="CONSOLE" />
            <AppenderRef ref="FILE" />
        </Root>
    </Loggers>
</Configuration>
