<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2017. Yuriy Stul
  -->

<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %l - %msg%n" />
        </Console>
        <File name="File" fileName="logs/aws-test1.log" append="false">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %l - %msg%n" />
        </File>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console" />
            <AppenderRef ref="File" />
        </Root>
        <!--<Logger name="org.apache.http" level="error"/>-->
        <!--<AppenderRef ref="Console"/>-->
        <!--</Logger>-->
        <!--<Logger name="com.datastax.driver.core" level="error"/>-->
    </Loggers>
</Configuration>
